luna.py
.idea/
*.pyc
*.pyo

myvenv
db.sqlite3
.DS_Store

# files ignore
uploads/files_on_wall/*
uploads/profile_photoes/*
!addPhoto.png
!fon.jpg

# igonre private settings
AlibabaStudio/settings/local.py

# ignore messages
tmp/messages/*
!20160317-204752-60618608.log
