luna.py
#.idea/*
*.pyc
*.pyo

# files ignore
AlibabaStudio/uploads/files_on_wall/*
AlibabaStudio/uploads/profile_photoes/*
!addPhoto.png
!fon.jpg

# igonre private settings
#AlibabaStudio/settings/local.py

# ignore messages
tmp/messages/*
!20160317-204752-60618608.log
