# settings ignore
#AlibabaStudio/settings.py
luna.py
.idea/workspace.xml

__pycache__
*.pyc
*.pyo
local_settings.py
#AlibabaStudio/local_settings.py
myvenv
db.sqlite3
.DS_Store

# files ignore
uploads/files_on_wall/*
uploads/profile_photoes/*
!addPhoto.png
!fon.jpg

# ignore messages
tmp/messages/*
!20160317-204752-60618608.log
