{% extends 'alibaba/base_user.html' %}

{% block title %}
Alibaba Group
{% endblock %}

{% block body %}
{#<table class="forma" align="center" style="margin-top: 100px;">#}
{#        <tr>#}
{#            <td>#}
{#                <form action="/login/" method="post">#}
{#                    <input type="email" name="email" placeholder="Email"><br />#}
{#                    <input type="password" name="pass" placeholder="Password"><br />#}
{#                    <input type="submit" name="submit" value="Войти">#}
{#                </form>#}
{#                <form class="forma" action="auth/login/" method="post">#}
{#                    {% csrf_token %}#}
{#                    <input type="text" name="email" placeholder="Email">#}
{#                    <input type="password" name="pass" placeholder="pass">#}
{#                    <input type="submit" name="submit" value="Войти">#}
{#                    {% if login_error %}#}
{#                        <p>{{ login_error }}</p>#}
{#                    {% endif %}#}
{#                </form>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
{% endblock %}
