{% extends 'alibaba/base_user.html' %}

{% block body %}
    <table class="forma" align="center" style="margin-top: 100px;">
        <tr>
            <td>
{#                <form action="/login/" method="post">#}
{#                    <input type="email" name="email" placeholder="Email"><br />#}
{#                    <input type="password" name="pass" placeholder="Password"><br />#}
{#                    <input type="submit" name="submit" value="Войти">#}
{#                </form>#}
                <form class="forma" action="auth/login/" method="post">
                    {% csrf_token %}
                    <input class="_input" type="text" name="username" placeholder="Имя пользователя" value="{{ username }}"><br />
                    <input class="_input" type="password" name="password" placeholder="Пароль" value="{{ password }}"><br />
                    <input class="main_button" type="submit" name="submit" value="Войти">
                    {% if login_error %}
                        <p class="error">{{ login_error }}</p>
                    {% endif %}
                </form>
            </td>
        </tr>
    </table>
{% endblock %}