{% extends 'alibaba/base_user.html' %}

{% block title %}
Vipmaker
{% endblock %}

{% block body %}
    <table class="forma" align="center" style="margin-top: 65px;">
        <tr>
            <td>
                <p class="welcome_text" >Добро пожаловать в самую крутую команду страны <a href="{% url 'about' %}">подробнее...</a></p>
            </td>
        </tr>
        <tr>
            <td align="center">
{#                <form action="/login/" method="post">#}
{#                    <input type="email" name="email" placeholder="Email"><br />#}
{#                    <input type="password" name="pass" placeholder="Password"><br />#}
{#                    <input type="submit" name="submit" value="Войти">#}
{#                </form>#}
                <form class="forma" action="auth/login/" method="post">
                    {% csrf_token %}
                    <input class="_input" type="text" name="username" placeholder="Имя пользователя" value="{{ username }}"><br />
                    <input class="_input" type="password" name="password" placeholder="Пароль" value="{{ password }}"><br />
                    <input class="main_button" type="submit" name="submit" value="Войти"><br>
                    <a href="/auth/forgot_pass/" class="forgot_password_link">Забыли пароль?</a>
                    {% if login_error %}
                        <p class="error">{{ login_error }}</p>
                    {% endif %}
                </form>
            </td>
        </tr>
    </table>
{% endblock %}